footer {
  background: #ebf2f5;
  color: #01427a;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 4rem 3rem;
  font-size: 1.4rem;
  font-weight: 600;
}

footer a {
  color: var(--color-primary);
}
